        
        <!-- Sections -->
        <section id="portfolio" class="sections">
            <div class="container">

                <div class="heading-content text-center">
                    <h3>Portraits</h3>
                </div>

                <!-- Example row of columns -->
                <div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf1.jpg" class="portfolio-img"><img src="assets/images/portrait/pf1.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf2.jpg" class="portfolio-img"><img src="assets/images/portrait/pf2.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf3.jpg" class="portfolio-img"><img src="assets/images/portrait/pf3.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf4.jpg" class="portfolio-img"><img src="assets/images/portrait/pf4.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>

		<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf5.jpg" class="portfolio-img"><img src="assets/images/portrait/pf5.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf6.jpg" class="portfolio-img"><img src="assets/images/portrait/pf6.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf7.jpg" class="portfolio-img"><img src="assets/images/portrait/pf7.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf8.jpg" class="portfolio-img"><img src="assets/images/portrait/pf8.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>

                
                <div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf9.jpg" class="portfolio-img"><img src="assets/images/portrait/pf9.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf10.jpg" class="portfolio-img"><img src="assets/images/portrait/pf10.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf11.jpg" class="portfolio-img"><img src="assets/images/portrait/pf11.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf12.jpg" class="portfolio-img"><img src="assets/images/portrait/pf12.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf13.jpg" class="portfolio-img"><img src="assets/images/portrait/pf13.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf14.jpg" class="portfolio-img"><img src="assets/images/portrait/pf14.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf15.jpg" class="portfolio-img"><img src="assets/images/portrait/pf15.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf16.jpg" class="portfolio-img"><img src="assets/images/portrait/pf16.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf17.jpg" class="portfolio-img"><img src="assets/images/portrait/pf17.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf18.jpg" class="portfolio-img"><img src="assets/images/portrait/pf18.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf19.jpg" class="portfolio-img"><img src="assets/images/portrait/pf19.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf20.jpg" class="portfolio-img"><img src="assets/images/portrait/pf20.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf21.jpg" class="portfolio-img"><img src="assets/images/portrait/pf21.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf22.jpg" class="portfolio-img"><img src="assets/images/portrait/pf22.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf23.jpg" class="portfolio-img"><img src="assets/images/portrait/pf23.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf24.jpg" class="portfolio-img"><img src="assets/images/portrait/pf24.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf25.jpg" class="portfolio-img"><img src="assets/images/portrait/pf25.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf26.jpg" class="portfolio-img"><img src="assets/images/portrait/pf26.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf27.jpg" class="portfolio-img"><img src="assets/images/portrait/pf27.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/portrait/pf28.jpg" class="portfolio-img"><img src="assets/images/portrait/pf28.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>



            </div> <!-- /container -->       
        </section>
