
        
        <!-- Sections -->
        <section id="portfolio" class="sections">
            <div class="container">

                <div class="heading-content text-center">
                    <h3>Photographie Sportive</h3>
                </div>

                <!-- Example row of columns -->
                <div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf1.jpg" class="portfolio-img"><img src="assets/images/sport/pf1.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf2.jpg" class="portfolio-img"><img src="assets/images/sport/pf2.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf3.jpg" class="portfolio-img"><img src="assets/images/sport/pf3.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf4.jpg" class="portfolio-img"><img src="assets/images/sport/pf4.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>

		<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf5.jpg" class="portfolio-img"><img src="assets/images/sport/pf5.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf6.jpg" class="portfolio-img"><img src="assets/images/sport/pf6.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf7.jpg" class="portfolio-img"><img src="assets/images/sport/pf7.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf8.jpg" class="portfolio-img"><img src="assets/images/sport/pf8.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>

                
                <div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf9.jpg" class="portfolio-img"><img src="assets/images/sport/pf9.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf10.jpg" class="portfolio-img"><img src="assets/images/sport/pf10.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf11.jpg" class="portfolio-img"><img src="assets/images/sport/pf11.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf12.jpg" class="portfolio-img"><img src="assets/images/sport/pf12.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf13.jpg" class="portfolio-img"><img src="assets/images/sport/pf13.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf14.jpg" class="portfolio-img"><img src="assets/images/sport/pf14.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf15.jpg" class="portfolio-img"><img src="assets/images/sport/pf15.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf16.jpg" class="portfolio-img"><img src="assets/images/sport/pf16.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf17.jpg" class="portfolio-img"><img src="assets/images/sport/pf17.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf18.jpg" class="portfolio-img"><img src="assets/images/sport/pf18.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf19.jpg" class="portfolio-img"><img src="assets/images/sport/pf19.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf20.jpg" class="portfolio-img"><img src="assets/images/sport/pf20.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf21.jpg" class="portfolio-img"><img src="assets/images/sport/pf21.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf22.jpg" class="portfolio-img"><img src="assets/images/sport/pf22.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf23.jpg" class="portfolio-img"><img src="assets/images/sport/pf23.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf24.jpg" class="portfolio-img"><img src="assets/images/sport/pf24.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>
<div class="row">
                    <div class="portfolio-wrapper">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf25.jpg" class="portfolio-img"><img src="assets/images/sport/pf25.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf26.jpg" class="portfolio-img"><img src="assets/images/sport/pf26.jpg" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf27.jpg" class="portfolio-img"><img src="assets/images/sport/pf27.jpg" alt="" /></a>
                            </div>
                        </div>

			<div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <a href="assets/images/sport/pf28.jpg" class="portfolio-img"><img src="assets/images/sport/pf28.jpg" alt="" /></a>
                            </div>
                        </div>


                    </div>
                </div>



            </div> <!-- /container -->       
        </section>

    
