

/*
Author: Antoine Lambert
*/
body,html {
	height:100%;
	background-color: #202020;
	color:#6B6B6B;
	padding: 0;
	margin: 0;
	font-family: 'Spectral SC', serif;
	font-size: 20px;
}
.center{
	text-align: center;
	font-size: 25px;
	color: #F5F5F5;
	width: 50%;
	margin: auto auto;
	
}
.parallax {
	height:100%;
	background-image: url("http://Twan0u.github.io/assets/images/header-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo{
	width: 200px;
	padding: 30px;
	top: 0;
	left: 0;
}

.title{
	border-top: solid white 4px;
	border-bottom: solid white 4px;
}
#about{
	padding:4%;
text-align: justify;
}
#about:after{
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 45%;
    padding: 15px;
}
#about img{
	width: 100%;
}

#portfolio img{
	float: left;
   	width: 23%;
    	margin: 1%;
}
#portfolio:after{
    content: "";
    display: table;
    clear: both;
}
footer{
	margin:70px;
}

@media only screen and (max-width: 768px) {
	.logo{
		width: 40%;
		padding: 2%;
	}
	.title{
		font-size: 15px;
		margin: 20% auto;
	}
	#about{
		margin:0 auto;
	text-align: justify;
	}
	.column {
		width: 100%;
		padding:0;
		margin:0 0;
	}
	#portfolio img{
    		width: 100%;
		padding:0;
		margin: 0 auto;
	}
}

