

/*
Author: Antoine Lambert
*/
body,html {
	height:100%;
	background-color: #eee;
	color:#6B6B6B;
	padding: 0;
	margin: 0;
	font-family: 'Spectral SC', serif;
	font-size: 20px;
}

#signature{
	width:20%;
	position: absolute;
	bottom: 5%;
	right: 5%;
}
path{
	fill : none;
	stroke-dasharray:5000;
	animation-delay: 2s;
	animation: dash 2s cubic-bezier(0,0.23,1,.1) forwards;
}

.center{
	text-align: center;
	color: #F5F5F5;
	width: 50%;
	margin: auto auto;
}


.center{
	display: block;
	margin:auto;
}

.parallax {
	height:100%;
	font-size:30px;
	background-image: url("../images/header-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#about{
	padding:4%;
text-align: justify;
}

#about:after{
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 45%;
    padding: 15px;
}

#about img{
	width: 100%;
}

h2{
	color: #6B6B6B;
	font-size: 200%;
}
#portfolio img{
		width: 100%;
		padding:0;
		margin: 0 auto;
}
#portfolio:after{
    content: "";
    display: table;
    clear: both;
}
footer{
	margin:50px;
	text-align: center;
}



@keyframes dash {
	0% {
		fill: none;
	   stroke-dashoffset: 5000;
	  }
	  100% {
			fill : #fff;
	    stroke-dashoffset: 0;
	  }
}



@media only screen and (max-width: 768px) {
	.logo{
		width: 40%;
		padding: 2%;
	}
	.title{
		font-size: 15px;
		margin: 20% auto;
	}
	#about{
		margin:0 auto;
	text-align: justify;
	}
	.column {
		width: 100%;
		padding:0;
		margin:0 0;
	}
	#portfolio img{
    		width: 100%;
		padding:0;
		margin: 0 auto;
	}
	footer{
		padding:20%;
		margin:0;
		text-align: center;
	}
}
