  <!-- Page Content -->
    <div class="container">
<br/>

        <!-- Intro Content -->
        <div class="row" ng-hide="{{hide.presentation}}">
            <div class="col-md-6">
                <img class="img-responsive" src="{{presentation.img}}" alt="">
            </div>
            <div class="col-md-6">
                <h2>{{presentation.title}}</h2>
                <p ng-repeat="paragraph in paragraphs">{{paragraph.text}}</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row" ng-hide="{{hide.team}}">
            <div class="col-lg-12">
                <h2 class="page-header">{{title2}}</h2>
            </div>

            <div class="col-md-4 text-center" ng-repeat="x in team">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{x.img}}" alt="">
                    <div class="caption">
                        <h3>{{x.name}}<br>
                            <small>{{x.jobtitle}}</small>
                        </h3>
                        <p>{{x.bio}}</p>
                        <ul class="list-inline">
                            <li><a href="{{x.facebook}}"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="{{x.linkedin}}"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="{{x.twitter}}"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                      
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row" ng-hide="{{hide.customers}}">
            <div class="col-lg-12">
                <h2 class="page-header">{{customerstitle}}</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="x in customers">
                <img class="img-responsive customer-img" src="{{x.img}}" alt="">
            </div>
        </div>
        <!-- /.row -->
